.left-col
  section.card.single-bus-stop-card
    header.card-header
      h1.card-header-title
        i.fa.fa-bus.card-header-title-icon
        span.capitalize(ng-bind="busStop.name|lowercase")
      a.card-header-close(ui-sref="main.bus-stops")
        i.fa.fa-close
    .card-body.card-body-scroll.card-body-padded
      h3.card-body-title Details
      table.table-icon-details
        tbody
          tr
            th(title="Direction")
              i.fa.fa-compass
            td(
              ng-bind="busStop.direction"
              title="Direction"
            )
          tr
            th(title="wheelchair access")
              i.fa.fa-wheelchair
            td.capitalize(
              ng-bind="busStop.wheelchairBoarding|lowercase"
              title="wheelchair access"
            )
      h3.card-body-title Routes
      ul.card-body-stacked-list
        li(ng-repeat="route in busStop.routes").bus-route-list-item
          a(ui-sref="main.bus-stop.buses({operator:route.agency.id,route:route.shortName})")
            .bus-stop-route-icon(
              ng-style="{background:'#'+route.color,color:'#'+route.textColor}"
              ng-bind="route.shortName"
            )
            h4.route-title(ng-bind="route.longName")
            p.route-description(ng-bind="route.description")
      footer.card-body-footer
        button.btn.btn-primary(
          type="button"
          ui-sref="main.bus-stops"
        ) Close
