.left-col
  section.card.bus-stop-list-card
    header.card-header(
      ng-click="toggleShowListView()"
      ng-class="{'card-header-warning':!stops.length}"
    )
      h1.card-header-title(ng-if="stops.length && isZoomValid")
        span(ng-bind="stops.length")
        |&nbsp;bus stop
        span(ng-bind="stops.length !== 1 ? 's ' : ' '")
        |in view
      h1.card-header-title(ng-if="!isZoomValid") Zoom in closer to see bus stops
      h1.card-header-title(ng-if="!stops.length && isZoomValid") Use the map to find your bus stop
      .card-header-ui(ng-show="stops.length")
        a.fa.fa-angle-up.card-header-show-icon
        a.fa.fa-angle-down.card-header-hide-icon
    .card-body.card-body-scroll
      ul.card-body-stacked-list(ng-if="stops.length")
        li(ng-repeat="stop in stops track by stop.id")
          a(
            ng-mouseover="stop.isHover=true"
            ng-mouseout="stop.isHover=false"
            ng-class="{'hover':stop.isHover,'focus':stop.isFocus}"
            ui-sref="main.bus-stop({id:stop.id})"
          )
            ul.inline-list.bus-stop-route-list
              li(
                ng-repeat="route in stop.routes track by route.id"
                once-style="{background:'#'+route.color,color:'#'+route.textColor}"
                once-text="route.shortName"
              )
            h3.bus-stop-name(once-text="stop.name | lowercase")
            table.table-icon-details
              tbody
                tr
                  th Direction:
                  td(once-text="stop.direction | direction")
            i.bus-route-list-item-action-icon.fa.fa-chevron-right
    card-footer
