.left-col
  section.card.bus-stop-list-card
    header.card-header
      h1.card-header-title Bus Stops
    .card-body.card-body-scroll
      ul.card-body-stacked-list(ng-if="stops.length")
        li(ng-repeat="stop in stops track by stop.id")
          a(
            ng-mouseover="stop.isHover=true"
            ng-mouseout="stop.isHover=false"
            ng-class="{'hover':stop.isHover,'focus':stop.isFocus}"
            ui-sref="main.bus-stop({id:stop.id})"
          )
            ul.inline-list.bus-stop-route-list
              h3.bus-stop-name(ng-bind="stop.name | lowercase")
              li(
                ng-repeat="route in stop.routes track by route.id"
                ng-style="{background:'#'+route.color,color:'#'+route.textColor}"
                ng-bind="route.shortName"
              )
      .card-body-spinner(ng-if="!stops.length")
        span.fa.fa-circle-o-notch.fa-spin
        .card-body-spinner-copy Loading&nbsp;
